/* Variables */
$brand-green: #6db33f;

/* Styles */
body {
  font-family: sans-serif;
  background: #fff;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
}

.btn-secondary {
  background-image: linear-gradient(#fcfcfc, #eee);
}
.btn-secondary.btn-link {
  background-image: inherit;
}
.btn-secondary.icon {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-right: 4px;
  &:last-child {
    margin-right: 0;
  }
  img {
    width: 28px;
    height: 28px;
  }
}

.btn.with-counter {
  position: relative;
  .counter-inline {
    padding: 0 0.6rem;
    display: inline-block;
  }
  .counter {
    display: inline-block;
    background: white;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.25rem 0.6rem;
    font-weight: bold;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-content-flex {
  flex: 1;
}

.navbar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;

  a {
    color: #333;
  }
  a:hover {
    color: #4078c0;
  }
}

.dashboard {
  .world-list {
    margin-left: -10px;
    margin-right: -10px;

    .world-card {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      width: calc(50% - 20px);
      .btn-group {
        float: right;
      }
    }
    .world-thumbnail {
      background: #ccc;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 150px;
      object-fit: cover;
      text-align: center;
      font-size: 20px;
      color: white;
    }

    .world-thumbnail > div {
      opacity: 0;
      background: rgba(0,0,0,0.2);
      height: 100%;

      a {
        color: white; 
        display: inline-block;
        padding: 60px 15px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

.network-bar {
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;

  &.active-false {
    background: $brand-green;
  }
  &.active-true {
    background: blue;
    &:before {
      background-color: #3f51b5;
      content: '';
      -webkit-animation: network-bar-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      animation: network-bar-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
}

.play {
  .header {
    margin-bottom: 15px;
    h4 {
      margin-bottom: 0;
    }
  }
}

.page-message {
  text-align: center;
  font-size: 24px;
  padding: 150px;
}

.home-region {
  padding-top: 45px;
  padding-bottom: 45px;
}
.home-region.green {
  background-color: $brand-green;
  color: white;
}
.home-region.light-green {
  background-color: #EBF1E7;
}

.footer {
  background-color: #222;
  color: #ddd;
  clear: both;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top:50px;
}
.footer .navbar {
  position: relative;
  left: -15px;
  font-size: 0.9em;
}
.footer a {
  color: #6db33f;
}

.hero {
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
  background: url(../img/splash-2.png) center center;
  background-size: cover;
  display: block;
  p, h2 {
    color: #f4f4f4;
    display: inline-block;
    padding: 9px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0.2px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  p {
    margin-bottom: 15px;
  }
}

@keyframes network-bar-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
