/* Variables */
$brand-green: #6db33f;

/* Styles */
body {
  font-family: sans-serif;
  background: #fcfcfc;
  color: #4d4d4d;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-content-flex {
  flex: 1;
}

.stage-list {
  display: flex;
  flex-wrap: auto;
  flex-direction: row;
  margin-left: -10px;
  margin-right: -10px;

  .stage-card {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
  }
  .stage-thumbnail {
    background: #ccc;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

.network-bar {
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;

  &.active-false {
    background: $brand-green;
  }
  &.active-true {
    background: blue;
    &:before {
      background-color: #3f51b5;
      content: '';
      -webkit-animation: network-bar-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
      animation: network-bar-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
}


.home-region {
  padding-top: 45px;
  padding-bottom: 45px;
}
.home-region.green {
  background-color: $brand-green;
  color: white;
}
.home-region.light-green {
  background-color: #EBF1E7;
}

.footer {
  background-color: #222;
  color: #ddd;
  clear: both;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
}
.footer .navbar {
  position: relative;
  left: -15px;
  font-size: 0.9em;
}
.footer a {
  color: #6db33f;
}

.hero {
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
  background: url(../img/splash-2.png) center center;
  background-size: cover;
  display: block;
  p, h2 {
    color: #f4f4f4;
    display: inline-block;
    padding: 9px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0.2px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  p {
    margin-bottom: 15px;
  }
}

@keyframes network-bar-progress {
  0% { margin-left: 0px; margin-right: 100%; }
  50% { margin-left: 25%; margin-right: 0%; }
  100% { margin-left: 100%; margin-right: 0; }
}
