$tint-color: #5bc0de;
$highlight-color: rgba($tint-color, 0.35);
$outline-color: rgba(255, 255, 255, 0.78);
$stage-default-background: gray;
$trash-hover-color: #d05959;

$rule-event-color: #5BC15C;
$rule-flow-color: #5BA4CD;

$create-account-notice-color: #e6dac1;

@mixin cursor($name) {
  cursor: url(../img/cursor_#{$name}.cur) 0 0, auto;
  cursor: -webkit-image-set(url(../img/cursor_#{$name}.cur) 2x) 0 0, url(../img/cursor_#{$name}.cur) 0 0, auto;
}

/*
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-left: 1px solid #CCC;
  background: #eee;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  padding:1px;
  background: #bbb;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
*/

.tool-trash {
  @include cursor('trashcan');
}
.tool-paint {
  @include cursor('paint');
}
.tool-record {
  @include cursor('camera');
}
.tool-ignore-square {
  @include cursor('ignored_square');
}
.tool-pointer {
  cursor: default;
}

.sprite {
  image-rendering: pixelated;

  &.outlined {
  	filter: drop-shadow(2px 0 0.5px $outline-color)
  		drop-shadow(-2px 0 0.5px $outline-color)
  		drop-shadow(0 -2px 0.5px $outline-color)
   		drop-shadow(0 2px 0.5px $outline-color);
  }
}

.panel {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
  margin: 5px;
  padding: 5px;

  h2 {
    margin: 3px 4px;
    font-size: 17.5px;
  }

  .empty {
    text-align: center;
    color: #bbb;
    padding:20px;
    padding-top:20px;
  }
}

.editor {
  width: 100%;
  flex: 1;
  font-size: 14px;
  background: url(../img/background.png) top left;
  padding-top: 6px;

  .loading {
    margin: auto;
    margin-top: 200px;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
  }

  .btn, .dropdown-menu {
    font-size: 0.9rem;
  }

  .editor-centered-flex {
    max-width: 1210px;
    max-height: 804px;
    margin: auto;

    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .editor-horizontal-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  h2 {
    color: #555;
    font-weight: 600;
    font-size: 17px;
    margin: 6px 0;
    margin-top: 3px;
    user-select: none;
  }

  .toolbar {
    order: 0;
    height:50px;
    padding:4px;
    flex: 1;
    display: flex;
    flex-direction: row;

    .button-group {
      display: inline-block;
      margin-right: 10px;

      button {
        margin-right: 0;
        border-radius: 0;
        border-right-width: 0;
        outline: 0;
        padding: 0;
        box-sizing: content-box;
        &:first-child {
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
        }
        &:last-child {
          border-top-right-radius: 0.25rem;
          border-bottom-right-radius: 0.25rem;
          border-right-width: 1px;
          margin-right: 0;
        }
        img {
          padding: 0 2px;
        }
      }
    }

    .btn {
      padding: 0 10px;
      height: 40px;
      .title {
        font-size: 20px;
        vertical-align: middle;
      }
    }

    .world-name {
      max-width: 330px;
      min-width: 170px;
      font-size: 25px;
      line-height: 38px;
      padding: 0 8px;
      border: 1px solid rgba(0,0,0,0.1);
      border-left: 1px solid transparent;
      background: rgba(255,255,255,0.3);
      &:hover, &:active {
        border: 1px solid rgba(0,0,0,0.2);
        border-left: 1px solid transparent;
      }
    }

    .create-account-notice {
      background: repeating-linear-gradient(
        -45deg,
        $create-account-notice-color,
        $create-account-notice-color 10px,
        darken($create-account-notice-color, 5%) 10px,
        darken($create-account-notice-color, 5%) 20px
      );
      color: rgba(0,0,0,0.8);
      padding: 2px;
      display: inline-block;
      border: 1px solid darken($create-account-notice-color, 20%);
      border-radius: 0.5rem;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      white-space: nowrap;
      span {
        padding: 0 10px;
      }
    }
  }
}

.stage-container {
  order: 1;
  flex: 1;

  display: flex;
  flex-direction: column;
  min-width: 600px;

  .panel.stages {
    flex: 1;
    display: flex;
    flex-direction: column;
    user-select: none;

    .stages-horizontal-flex {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    .stage-scroll-wrap {
      flex: 1;
      overflow: auto;
      margin-bottom: 4px;
      position: relative;
      background-color: #222;
      transition: box-shadow 200ms, flex 400ms ease-out;

      &.running-true {
        box-shadow:0 0 0 4px $tint-color;
        .animated {
          transition-timing-function: linear;
          transition-property: top, left;
        }
      }
      &.running-false {
        .animated {
          transition-property: none;
        }
      }

      .stage {
        background-color: $stage-default-background;
        position: relative;
        outline: 0;
        transition: top 400ms ease-out, left 400ms ease-out;
      }
    }

    .actions {
      transition: height 200ms ease-out;
    }
  }

  .handle-top,
  .handle-bottom {
    cursor: move;
    cursor: ns-resize;
  }

  .handle-left,
  .handle-right {
    cursor: move;
    cursor: ew-resize;
  }

  .tool-ignored-square {
    img { width: 20px; height: 20px; }
    padding: 4px;
  }

  .recording-specifics {
    height: 200px;
    display: flex;

    & > div {
      background-color: #eee;
      padding: 3px 6px;
      margin-bottom: 4px;
      display: flex;
      flex-direction: column;
    }
    ul {
      margin: 0; 
      padding: 0;
      overflow-y: auto;
      border-top: 1px solid rgba(0,0,0,0.2);

      li {
        padding: 6px 0;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        .left {
          flex: 1;
          code {
            background: none;
            padding: 0;
          }
        }
        .right {
            display: inline-block;
            padding: 2px;
            border: 1px solid rgba(0,0,0,0.1);
            background: rgba(0,0,0,0.05);
            code {
              background: none;
              padding: 0;
            }
            input {  
              width: 50px;
            }
            &.dropping-true {
              border: 1px solid rgba(91, 192, 222, 0.6);
              background: rgba(91, 192, 222, 0.35);
            }
        }
        .sprite {
          zoom: 0.6;
          margin-right: 8px;
        }
        code,
        select,
        .delta-canvas {
          margin-left: 4px;
          margin-right: 4px;
        }
        .variable-operation-select {
          margin-right: 6px;
          margin-left: 0;
        }
        .variable-value-input {
          margin-right: 6px;
          width: 50px;
        }
        .condition-remove {
          padding: 4px;
          div {
            width: 14px;
            height: 14px;
            background: url(../img/x.png) 50%;
          }
        }
      }
      li.enabled-false {
        .left {
          opacity: 0.4;
        }
        .condition-remove {
          opacity: 0.4;
          &:hover {
            opacity: 0.8;
          }
          div {
            background: url(../img/visible.png) top right no-repeat;
          }
        }
      }
    }
  }
  .stage-controls {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .center {
      text-align: center;
    }
    .right {
      flex-shrink: 0;
    }
    .left {
      text-align: left;
      position: relative;

      .start-thumbnail {
        position: relative;
        z-index: 1;
        top: -5px;
        img {
          max-width: 100px;
          max-height: 50px;
          border: 2px solid white;
          border-bottom: 0;
          border-left: 0;
          background: $stage-default-background;
        }
      }

      .start-buttons {
        position: absolute;
        z-index: 1;
        top: -15px;
        left: 6px;
        button {
          height: 20px;
          margin-left: 1px;
          padding: 0 7px;
        }
      }
      
      .start-thumbnail.restart-button {      
        cursor: pointer;
        &:hover img {
          filter: brightness(80%);
        }

        .label {
          position: absolute;
          z-index: 1;
          width: 100%;
          text-align: center;
          top: 30%;
          color: white;
          font-size: .875rem;
        }
      }
    }

    .message {
      white-space: nowrap;
      padding-left: 12px;
      color: #aaa;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .library-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height:130px;
    max-height:170px;

    .panel {
      display: flex;
      flex-direction: column;
      &.appearances {
        flex: 1;
      }
      &.library {
        flex: 2;
      }
      .header {
        display: flex;
        flex-shrink: 0;
        h2 {
          flex: 1;
        }
      }
    }

    .item-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top:4px;
      flex: 1;
      overflow-y: auto;
      align-items: flex-start;
      background-color: #eee;
      .item {
        padding:10px;
        text-align: center;
        .name {
          padding-top:2px;
          font-size: 0.9em;
        }
        &.selected {
          background-color: $highlight-color;
        }
      }
    }
  }
  .library-container.tool-trash {
    .item-grid {
      .item:hover {
        background-color: $trash-hover-color;
        .name {
          color: white;
        }
      }
    }
  }

}

.inspector-panel-container {
  order: 2;
  width: 300px;
  min-width:260px;

  display: flex;
  flex-direction: column;
  .scroll-container {
    position: relative;
    overflow-y: auto;
    flex:1;

    .scroll-container-contents {
      position: absolute;
      width: 100%;
    }
  }
}

.modal-dialog.paint {
  user-select: none;

  canvas {
    cursor: crosshair;
  }
  canvas.mouseoverSelection {
    cursor: move;
    cursor: -webkit-grab;
  }
  canvas.mousedown.mouseoverSelection {
    cursor: move;
    cursor: -webkit-grabbing;
  }

  .paint-sidebar {
    width: 120px;

    .active-swatch {
      width: 114px;
      height: 42px;
      margin-bottom: 3px;
      margin-right: 2px;
      border: 1px solid rgba(0,0,0,0.2);
    }

    .tools {
      .tool {
        display: inline-block;
        border: 1px solid rgba(0,0,0,0.2);
        padding: 2px;
        margin-right: 3px;
        margin-bottom: 3px;
        outline: 0;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
          padding: 2px;
        }
      }
      .tool.selected {
        background-color: $tint-color;
        img {
          filter: invert(100%) brightness(130%);
          -webkit-filter: invert(100%) brightness(130%);
        }
      }
    }
  }
}

.variables-section {
  border-top: 1px solid #eee;
  margin-top: 20px;
  min-height: 130px;

  h3 {
    font-size: 16px;
    color: #999;
    position: relative;
    top: -10px;
    background: white;
    display: inline-block;
    margin: 0;
    padding-left: 5px;
    padding-right: 15px;
  }
}

.variables-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;

  .variable-box {
    width: 110px;
    padding: 5px;
    padding-top: 0;
    background-color: #c6c6c6;
    box-sizing: content-box;
    margin: 8px 0;

    &.variable-set-true {
      background-color: orange;
    }

    .name {
      background-color: transparent;
      text-align: center;
      overflow-y: auto;
      text-overflow: ellipsis;
      padding: 3px 0;
      margin: 0;
    }

    .value {
      border: 0;
      background-color: white;
      text-align: center;
      width: 110px;
      height: 36px;
      padding: 3px 0;
      font-size: 1.2em;
      font-weight: bold;
    }

    .btn-group {
      width: 100%;
    }
    .dropdown-menu {
      min-width: 100%;
    }
    .dropdown-toggle {
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .dropdown-item {
      box-sizing: border-box;
    }
    .dropdown-menu.with-sprites {
      .dropdown-item {
        width: 50%;
        display: inline-block;
        padding: 5px;
      }
    }
  }
}

.tool-trash {
  .variables-grid {
    .variable-box:hover {
      background-color: $trash-hover-color;
      .name { color: white; }
    }
    .variable-box input:hover  {
      @include cursor('trashcan');
    }
  }
}

.rules-list {
  padding: 3px 0;

  .name {
    display:inline-block;
    font-size:0.9em;
    line-height:1.2em;
    font-weight: bold;
    padding:0px 4px 0px 4px;
    margin-bottom:2px;
    color: #222;
    text-shadow: 0px 1px rgba(255,255,255,0.4);
    background-color: transparent;
    border:1px solid transparent;
    vertical-align: middle;
    width: 185px;
  }

  input.name {
    width:120px;
  }

  .rule-container {
    padding:5px;
    padding-top:2px;
    margin-bottom:5px;
    list-style-type: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: 2px solid rgba(255,255,255,0.4);
    -moz-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.4);
    -webkit-box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.4);
    box-shadow: inset 0 0 2px 1px rgba(255,255,255,0.4);

    &.group-event {
      background-color: $rule-event-color;
      .header { user-select: none; height:36px; }
    }

    &.group-flow {
      background-color: $rule-flow-color;
      .header { user-select: none; height:50px; }
    }

    .keycode {
      padding-left:4px;
      padding-right:4px;
      background-color:rgba(255,255,255,0.2);
      border:1px solid rgba(255,255,25,0.0);
    }
    .keycode:hover {
      background-color:rgba(255,255,255,0.4);
      border:1px solid rgba(255,255,25,0.6);
    }

    .circle {
      display:inline-block;
      width:12px;
      height:12px;
      margin-top:3px;
      border-radius:12px;
      background-color: transparent;
      border:1px solid rgba(0,0,0,0.2);
      &.true {
        background-color: #74E535;
      }
      &.false {
        background-color: red;
      }
    }
    .icon {
      width:32px;
      height:32px;
      padding-top:1px;
      float:left;
    }

    select {
      background-color: transparent;
      width:205px;
      border:none;
      font-weight:bold;
      height:19px;
      outline: none;
      color:#222;
      margin:0;
      padding:0;
      margin-top:4px;
      margin-bottom:4px;
    }

    ul.rules-list {
      background-color: rgba(0,0,0,0.3);
      padding-top:7px;
      padding-bottom:2px;
      min-height:25px;
      -moz-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.4);
      -webkit-box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.4);
      box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.4);
    }

    .triangle {
      cursor: pointer;
      display: inline-block;
      width: 0px;
      height: 0px;
      margin-left:2px;
      border-style: solid;
      border-width: 10.4px 6px 0 6px;
      border-color: rgba(0,0,0,0.4) transparent transparent transparent;
      opacity: 0;
      &.disclosed {
        border-width: 6px 0 6px 10.4px;
        border-color: transparent transparent transparent rgba(0,0,0,0.4);
      }
      &.enabled {
        opacity: 1;
      }
    }
  }

  .rule {
    background-color:#ddd;
    margin-bottom:3px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: 2px solid rgba(255,255,255,0.6);
    -moz-box-shadow: inset 0 0 2px 0px rgba(255,255,255,0.4);
    -webkit-box-shadow: inset 0 0 2px 0px rgba(255,255,255,0.4);
    box-shadow: inset 0 0 2px 0px rgba(255,255,255,0.4);

    .action {
      margin-left:3px;
      margin-right:3px;
      background-color: #E8B432;
    }
    .conditions {
      list-style-type: none;
      background-color:rgba(0,0,0,0.1);
      border-top: 1px solid rgba(0,0,0,0.2);
      border-left: 1px solid rgba(0,0,0,0.2);
      font-size: 13px;
      padding: 2px;
      code {
        background-color: transparent;
        img {
          zoom: 0.50;
          margin-right: 10px;
        }
      }
    }
    .scenario {
      display: flex;
      text-align: center;
      margin-bottom: 3px;
      pointer-events: none;

      .scenario-stage {
        user-select: none;
        position: relative;
        display: inline-block;
        background: url(../img/board-grid.png) top left, url(../img/checker.png);
        background-size: 40px, 8px;
        border: 1px solid #bbb;
        box-sizing:content-box;
        vertical-align: middle;
      }

      i {
        margin:5px;
        align-self: center;
      }
    }
  }
}

.tool-pointer {
  .rules-list .rule-container {
    &.group-event {
      cursor: pointer;
    }
    &.group-flow {
      cursor: move;
      cursor: ns-resize;
    }
    &.rule {
      cursor: move;
      cursor: ns-resize;
    }
  }
}
.tool-trash {
  .rules-list .rule-container {
    &.group-event.hovering,
    &.group-flow.hovering,
    &.rule.hovering {
      background-color: $trash-hover-color;
    }
  }
}

.flex-horizontal {
  display: flex;
}


button.btn.selected {
  background-image: linear-gradient($tint-color, darken($tint-color, 22%));
  color: white;
}
button.btn.selected:active {
  background-image: linear-gradient(darken($tint-color, 30%), darken($tint-color, 22%));
  color: white;
}

.badge {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  vertical-align: middle;
  display: inline-block;
  
  &.rule {
    background-color: gray;
  }
  &.rule-flow {
    background-color: $rule-flow-color;
  }
  &.rule-event {
    background-color: $rule-event-color;
  }
}


.tap-to-edit {
  border:1px solid transparent;
  &.enabled:hover, &.enabled:focus {
    cursor: text;
    background-color: rgba(255,255,255,0.4);
    border:1px solid rgba(255,255,255,0.5);
    outline: none;
  }
}

.tutorial-container {
  background-color: azure;
  border-top: 3px solid lightblue;
  width: 100%;
  bottom: 0px;
  right: 0px;
  position: fixed;
  z-index: 2000;

  .tutorial-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 130px;

    .copy {
      padding: 5px;
      font-size: 13px;
      overflow-y: auto;
    }

    .controls {
      padding: 5px;
      text-align: right;
      white-space: nowrap;
      i {
        padding: 6px 4px;
        color: rgba(0,0,0,0.3);
      }
      i:hover, i:active {
        color: rgba(0,0,0,0.6);
      }
    }
  }
  .girl-container {
    width: 0;
    height: 0;
    right: 170px;
    bottom: 180px;
    overflow: visible;
    position: fixed;
    pointer-events: none;
  }
}
@media(min-width: 1000px) {
  .tutorial-container {
    width: 550px;
    .tutorial-flex {
      flex-direction: column;
      align-items: inherit;
      border-left: 3px solid lightblue;
      .girl-container {
        top: inherit;
        bottom: 185px;
      }
    }
  }
}


.stage-sidebar {
  max-height: 380px;
  width: 190px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #eee;
  border-right:1px solid #ccc;

  .bar {
    display: flex;

    .add, .remove {
      width: 28px;
      height: 28px;
      border-radius: 0;
      margin: 0;
      padding: 2px 0 0 0;
    }
    .space {
      border-top:1px solid #ccc;
      flex: 1;
    }
  }

  .stage-list {
    overflow-y: auto;
    position: relative;
    flex: 1;

    .stage-item {
      margin: 10px;
      display: inline-block;
      border: 2px solid lighten(gray, 10%);
      background-color: gray;
      vertical-align: top;
      padding: 2px;
      &.selected {
        border: 2px solid lighten($tint-color, 10%);
        background-color: $tint-color;
      }
      img {
        width: 160px;
        height: 104px;
        object-fit: cover;
      }
      h3 {
        width: 160px;
        overflow: hidden;
        font-size: 18px;
        color:rgba(255,255,255,0.9);
        margin: 5px 0 2px 0;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
}

.pixel-color-picker {
  max-width: 116px;
  .color {
    padding: 3px;
    margin-right: 2px;
    margin-bottom: 3px;
    width: 27px;
    height: 25px;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    outline: 0;
  }
}

.character-cards {
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .character-card {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    width: 50%;

    .name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 2px;
      border-bottom: 1px solid #eee;
    }
    .appearances {
      img {
        margin-right: 10px;
      }
    }
    .actions {
      float: right;
    }
    
  }
}
